{% extends 'base.html.twig' %}
{% block title %}Emoji Categories{% endblock %}

{% block body %}
    <h1>Emoji Categories</h1>

    <ul class="list-group">
        {% for category in categories %}
            <li class="list-group-item">
                <a href="{{ path('emoji-categories.show', {category: category.id}) }}">{{ category.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}