{% extends 'base.html.twig' %}
{% block title %}Show emoji category{% endblock %}

{% block body %}
    <h1>Emoji Category</h1>

    <h2>{{ category.name }}</h2>

    <ul class="list-group">
        {% for emoji in category.emojis %}
            <li class="list-group-item">
                {{ emoji.html | raw }}
            </li>
        {% endfor %}
    </ul>

{% endblock %}