{% extends 'base.html.twig' %}
{% block title %}Show user{% endblock %}

{% block body %}
    <h1>User Edit</h1>

    {{ form(editForm) }}
    {{ form(deleteForm) }}

    <script src="{{ asset('javascript/user/confirmDelete.js') }}"></script>

{% endblock %}